
instructor-xl/.gitattributes
instructor-xl/1_Pooling/config.json
instructor-xl/2_Dense/config.json
instructor-xl/2_Dense/pytorch_model.bin
instructor-xl/config.json
instructor-xl/config_sentence_transformers.json
instructor-xl/modules.json
instructor-xl/pytorch_model.bin
instructor-xl/README.md
instructor-xl/sentence_bert_config.json
instructor-xl/special_tokens_map.json
instructor-xl/spiece.model
instructor-xl/tokenizer.json
instructor-xl/tokenizer_config.json
.vscode/launch.json
worker.py
d_tree.py
*.pyc
*.csv
*.bak
*.csv#
*.parquet
